<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a> <br>
            <a href="/register">register</a> <br>
            <a href="/login">login</a> <br>
            <a href="/profile">profile</a> <br>
            <a href="/logout">logout</a>
        </nav>
    </header>
</body>
</html>